@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
:root {
	--comfortaa: 'Comfortaa', cursive;
  --dark: #1c1c1c;
  --light: #c4c4c4;
  --teal: #008080;
}
a{transition: all .3s ease-in-out;text-decoration: none;}
*{font-family: 'Inter', sans-serif;padding: 0;margin: 0;box-sizing: border-box;}
#intro p{font-size: 3rem;color: var(--light);font-family: var(--comfortaa);font-weight: 700;}
@-moz-document url-prefix() {
.main_div a:after{content:"";background:none !important;}
}
.typed-text{background:linear-gradient(91.18deg,#7649F9 0.21%,#B649F9 26.78%,#F357BE 52.41%,#FB504A 94.09%);box-shadow:8px 7px 40px rgba(0,0,0,0.21);-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-family: var(--comfortaa);}
.cursor{display:inline-block;width:3px;margin-left:4px;background:var(--teal)}
.cursor.blink{animation:blink .8s ease-in-out infinite}
@keyframes blink {
0%,100%{background:var(--teal)}
40%,50%{background:transparent}
}
html{scroll-behavior:smooth}
body{overflow-x:hidden;padding:0;margin:0}
section{display:block;padding:0 4em 5em}
a:hover{cursor:pointer}

/* Navbar css */
.sec-heading{text-align:center;font-size:40px;padding:1.5em 0;margin:0}
#topHeader{padding:1em 4em;font-family:'Roboto',sans-serif;background:#fff;position:fixed!important;top:0!important;margin:0;z-index:999999;width:100%}
#topInfo{padding:0;margin-top:10px;text-align:right;color:#2E2E2E}
#topInfo li{list-style-type:none;display:inline}
#topInfo li:last-child{padding-left:21px}
.logo{color:#24142e;font-size:28px;font-family:'Roboto',sans-serif}
.reveal{position:relative;transform:translateY(150px);opacity:0;transition:1s all ease}
.reveal.active{transform:translateY(0);opacity:1}
.logo img{height:70px}
#header a{color:#2e2e2e;text-transform:capitalize;font-size:20px;font-weight:500;position:relative;text-decoration:none;display:inline-block;transition:all .3s ease-in-out}
#header ul li a:after{background:#24142e;content:"";display:block;height:2px;left:50%;position:absolute;transition:all .3s ease-in-out;width:0}
#header a:hover:after{left:0;width:100%}
#header{background:#fff;width:100%;position:relative;padding:10px 0;}
#header:after{content:"";clear:both;display:block}
.search{float:right;padding:30px}
input{border:none;padding:10px;border-radius:20px}
.logo{float:left;margin:0;}
.logo a{font-size:28px;display:block;margin:0 0 0 40px}
nav>ul{float:left;position:relative;margin-top:10px;margin-bottom:0;padding:0;margin-right: 145px;}
nav li{list-style:none;float:left}
nav .dropdown{position:relative}
nav li a {float: left;padding: 12px 0 10px 0;}
.first_home{margin-left:0;padding-left:0}
.button{position:absolute;right:15px;display:flex;align-items:center;top:10px}
.button:before{content:"";width:30px;height:30px;right:0;transition:all .3s ease;background:#ffffff59;position:absolute;border-radius:50px;line-height:30px}
.button:after{content:"";position:absolute;right:0;background:url(../src/assets/Right_logo.webp) no-repeat center center;width:30px;height:30px;border-radius:50px;transition:all .3s ease;line-height:30px}
.button:hover:after{right:-5px}
nav{display:flex;align-content:flex-start;justify-content:space-around}
nav li a{margin:0 25px}
nav li ul{display:none}
nav li:hover ul{display:inline}
nav li li{float:none}
nav .dropdown ul{position:absolute;left:0;top:100%;background:#fff;padding:20px 0;border-bottom:3px solid #34495e;border-radius: 0 0 10px 10px;z-index:9}
nav .dropdown li{white-space:nowrap}
nav .dropdown li a{color:#1E262D!important;font-size:14px;}
nav .mega-dropdown{width:100%;position:absolute;top:100%;left:0;background:#fff;overflow:hidden;padding:20px 35px;border-bottom:3px solid #34495e}
nav li li a{float:none;color:#333;display:block;padding:8px 10px;border-radius:3px;font-size:13px}
nav li li a:hover{background:#bdc3c7;background:#FAFBFB}
.navbar-nav2{position:absolute;right:100px;top:19px}
.btn-gradient{color:#fff;-webkit-text-fill-color:#fff;background:linear-gradient(to right,#8C4091 0%,42.77108311653137%,#AC3164 85.54216623306274%,92.77108311653137%,#D52236 100%);border-radius:48px;padding:10px 14px 10px 30px !important;width:184px;font-size:16px!important;line-height:32px;letter-spacing:-.0032em;color:#FFF;height:52px}
.btn-gradient::after{content:"";text-align:center;font-size:22px;display:inline-block;border-radius:50px}
.dropdown-submenu>.dropdown-menu {top: 5px;left: 101%;margin-top: -6px;margin-left: -1px;-webkit-border-radius: 0 6px 6px 6px;-moz-border-radius: 0 6px 6px;border-radius: 0 6px 6px 6px;}
.dropdown-toggle-btn::after {content: '';height: 25px;width: 17px;background: url(../src/assets/down.webp) no-repeat 0 0 !important;border: none;bottom: 0;position: absolute;right: 0;}
.dropdown-right-btn::after {content: '';height: 23px;width: 17px;background: url(../src/assets/down.webp) no-repeat 0 0 !important;border: none;top: 30px;position: absolute;right: 20px;transform: rotate(-0.25turn)}

/* Hero Section css */
.hero{background-color:#000;background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../src/assets/Main_banner.webp);background-position:center;background-size:cover;color:#fff;padding:1em;text-align:center;height:850px}
#intro{padding-top:5em;position:relative}
#intro .animated_div{display:inline-table;margin-top:130px;width:39%;height: 100%;}
.main_div a{display:block;width:220px;height:70px;z-index:1}
.main_div a:after{content:"";background:linear-gradient(120deg,#6559ae,#ff7159,#6559ae);background-size:400% 400%;-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,4px 66px,4px 100%,100% 100%,100% 0%,0% 0%);-moz-animation:gradient 3s ease-in-out infinite,border 1s forwards ease-in-out reverse;-webkit-animation:gradient 3s ease-in-out infinite,border 1s forwards ease-in-out reverse;animation:gradient 3s ease-in-out infinite,border 1s forwards ease-in-out reverse}
.main_div a > span{display:block;background:linear-gradient(120deg,#6559ae,#ff7159,#6559ae);background-size:400% 400%;-webkit-background-clip:text;-webkit-text-fill-color:transparent;-moz-animation:gradient 3s ease-in-out infinite;-webkit-animation:gradient 3s ease-in-out infinite;animation:gradient 3s ease-in-out infinite}
.absolute-centering,.main_div a,.main_div a:after{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto}
.text-formatting,.main_div a{text-transform:uppercase;text-decoration:none;text-align:center;letter-spacing:2px;line-height:70px;font-family:"Squada One",cursive;font-size:28px;margin-bottom:130px}
@-moz-keyframes gradient {
0%{background-position:14% 0}
50%{background-position:87% 100%}
100%{background-position:14% 0}
}
@-webkit-keyframes gradient {
0%{background-position:14% 0}
50%{background-position:87% 100%}
100%{background-position:14% 0}
}
@keyframes gradient {
0%{background-position:14% 0}
50%{background-position:87% 100%}
100%{background-position:14% 0}
}
@-moz-keyframes border {
0%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,4px 66px,4px 100%,100% 100%,100% 0%,0% 0%)}
25%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,216px 66px,216px 100%,100% 100%,100% 0%,0% 0%)}
50%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 4px,216px 4px,216px 4px,216px 4px,100% 0%,0% 0%)}
75%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 0%,0% 0%)}
100%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,0% 100%)}
}
@-webkit-keyframes border {
0%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,4px 66px,4px 100%,100% 100%,100% 0%,0% 0%)}
25%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,216px 66px,216px 100%,100% 100%,100% 0%,0% 0%)}
50%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 4px,216px 4px,216px 4px,216px 4px,100% 0%,0% 0%)}
75%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 0%,0% 0%)}
100%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,0% 100%)}
}
@keyframes border {
0%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,4px 66px,4px 100%,100% 100%,100% 0%,0% 0%)}
25%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,216px 66px,216px 100%,100% 100%,100% 0%,0% 0%)}
50%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 4px,216px 4px,216px 4px,216px 4px,100% 0%,0% 0%)}
75%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 0%,0% 0%)}
100%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,0% 100%)}
}
.features p{font-weight: 400;font-size: 22px;line-height: 41px;letter-spacing: -0.4px;color: #636981;}
.features h2{font-weight: 600;font-size: 50px;line-height: 72px;letter-spacing: -2px;color: #0F192A;}
.Animation-btn {display: inline-flex;width: 190px;height: 56px;font-weight: 500;font-size: 20px;line-height: 33px;margin: 36px 0 0;color: #0B182B;transition: all .3s;position: relative;overflow: hidden;z-index: 1;padding: 13px 13px 13px 30px;letter-spacing: -.32px;background: #FFFFFF;box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.06);border-radius: 28px;}
.features a{text-decoration: none;}
.row.content:first-child{ margin-top: 100px;}
.circle1 {position: absolute;height: 210rem;background: #377dff47;filter: blur(400px);border-radius: 6px;transform: rotate(90.37deg);z-index: -9;right: 0;top: 0px;}
.features a:hover{color: #0B182B;}
.features{padding: 0 0 50px 0;}
.features .button:after {background:url(../src/assets/Blue_arrow.webp) no-repeat center center;background-size: 33%;}
.features .button {top: 13px;}
.features-info {margin-top: 120px;}
.Erp_img{width: 496px;height: 600px;}
.Our_reach .container{background:url(../src/assets/Our_reach.webp) no-repeat center center;background-size: auto;height: 380px;background-size: 100%;padding: 0;}
.Our_reach h1{font-weight: 800;font-size: 48px;line-height: 64px;font-feature-settings: 'liga' off;background: linear-gradient(103.18deg, #5552FF 4.57%, #00C1EB 54.07%, #00E3AD 105.85%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;margin: 80px 0 40px 80px;}
.Our_reach p{font-weight: 400;font-size: 18px;line-height: 32px;font-feature-settings: 'liga' off;color: #F2F2F2;margin: 0 0 0 80px;width: 17%;}
.Purple_span{background: linear-gradient(to right,#8C4091 0%,42.77108311653137%,#AC3164 85.54216623306274%,92.77108311653137%,#D52236 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;}
.Our_clients h2 ,.Our_blogs h2{font-weight: 700;font-size: 48px;line-height: 58px;text-align: center;letter-spacing: -1px;color: #0B1D39;margin-bottom: 50px;}
.Upper_arrow{width: 84px;height: 70px;}
.Client_img{float: right;height: 300px;width: 300px;}
.Text_para p{font-weight: 400;font-size: 22px;line-height: 36px;letter-spacing: -0.2px;color: #0B1D39;padding: 0 140px 30px 90px;}
.Text_para h3{font-weight: 600;font-size: 26px;line-height: 24px;letter-spacing: -0.1px;color: #0B1D39;padding: 0 90px 0 90px;}
.swiper-button-prev{left: 90.5% !important;border-radius: 50%;background: #fff;width: 46px !important;height: 46px !important;border: 1px solid gray;margin-top: 95px !important;}
.swiper-button-next{border-radius: 50%;background: #fff;width: 46px !important;height: 46px !important;border: 1px solid gray;margin-top: 95px !important;}
.swiper-button-prev:after, .swiper-button-next:after {content: 'prev';font-size: 18px !important;font-weight: 700;color: black;}
.text-dark img{width: 370px;height: 248px;}
.text-dark a{font-weight: 500;font-size: 22px;line-height: 34px;font-feature-settings: 'ss03' on;color: #0B1D39;text-decoration: none;text-transform: capitalize;}
.Blog_text {padding: 30px 0 60px 0;}
.Our_blogs{margin-top: 100px;}

/* Footer css */
.social-links.social-1.col-6{padding:0}
footer{background-color:#1C1C1C;padding:3em 4em 2em}
footer .logo{color:#fff}
footer .row{margin:2em 0;font-family:'Roboto',sans-serif;color:#fff;position:relative;border-bottom:1px solid}
footer .footer-cat{font-size:20px}
footer ul{padding:0}
footer ul li{list-style-type:none;padding:0;line-height:2}
.footer-cat-links a{color:#fff;text-decoration:none;position:relative}
.social-links{bottom:44px;position:absolute;left:0}
.social-links a:not(:last-child){margin-right:10px}
.social-links a i{width:25px;height:25px;text-align:center}
#copyright{text-align:center;color:#fff;font-family:'Roboto',sans-serif}
.social-links a{color:#fff;font-size:20px;border:1px solid;border-radius:20px;padding:6px;transition:all .3s ease-in-out}
.footer-cat-links a:after{background:#fff;content:"";display:block;height:2px;left:50%;position:absolute;top:21px;transition:all .3s ease-in-out;width:0}
.footer-cat-links a:hover:after,.footer-cat-links a:focus:after{width:100%;left:0}
a#gotop{color:#fff;text-decoration:none;z-index:9999;display:none;font-family:'Roboto',sans-serif;position:fixed;bottom:1.5em;right:1.5em;padding:10px;background: linear-gradient(to right,#8C4091 0%,42.77108311653137%,#AC3164 85.54216623306274%);;border-radius:5px;box-shadow:0 5px 7px 0 #000}
.col-3#newsletter{width:24%}
footer #subscribe{margin:20px 0 30px}
.social-links{bottom:44px;position:absolute;left:0}
input#subscriber-email{outline:none;padding:8px;background:#ff6962;border:1px solid #fff;color:#fff;border-radius:4px 0 0 4px}
.col-3#newsletter #btn-scribe{margin-left:-4px;border:1px solid #fff;border-radius:0 4px 4px 0;padding:8px 5px;background-color:#fff;color:#ff6962;cursor:pointer}
footer ul li{list-style-type:none;padding:0;line-height:2;margin-bottom: 12px;}
footer ul {padding: 0;margin-top: 10px;}
#newsletter #address li i{font-size:45px;width:auto;padding:5px}
#newsletter #address li div{font-size:14px;width:80%;text-align:left;float:right;line-height:1.3}
#address ul li{margin: 35px 0px;}
footer .footer-cat{
font-weight: 500;
font-size: 18px;
line-height: 16px;
letter-spacing: 1px;
text-transform: uppercase;
color: #697A94;
margin-bottom: 20px;
}
.social-links a:hover{background: linear-gradient(to right,#8C4091 0%,42.77108311653137%,#AC3164 85.54216623306274%);}



/* ERPNext page css */

.ERP_section1 {
  background: linear-gradient(109.2deg, #A522D3 -1.24%, #0A3A87 104.65%);
  background-size: auto;
  height: 880px;
  background-size: 100%;
}

/* ALL RESPONSIVE CSS STARTS */

@media screen and (max-width: 1536px){
  nav li a {
    margin: 0 26px;
}

#intro .animated_div {
  width: 45%;
}
#header a {
  font-size: 18px;
}
#intro .animated_div {
  width: 55%;
}


}

@media only screen and (max-width: 1366px){
  .Our_clients h2, .Our_blogs h2 {
    font-weight: 700;
    font-size: 38px;
  }
  .Text_para p {
    font-size: 18px;
    line-height: 32px;
}
  .Erp_img {
    width: 400px;
    height: 535px;
}
  .features p {
    font-size: 18px;
    line-height: 32px;
  }
  .features h2 {
    font-size: 38px;
  }
  .hero{
    height: 600px;
  }
  #intro p {
    font-size: 2rem;
}
  nav li a {
    margin: 0 20px;
}
  #newsletter #address li i {
    font-size: 38px;
}
#newsletter #address li div {
  font-size: 12px;
}
footer .footer-cat {
  font-size: 14px;
}
.footer-cat-links{
  font-size: 12px;
}
#copyright {
  font-size: 12px;
}
footer .row {
  margin: 1em 0;
}
.social-links a {
  font-size: 16px;
}
.social-links a i {
  width: 20px;
}
  .social-links {
    left: 25px;
}
.text-dark img {
  width: 250px;
  height: 200px;
}
.Blog_text {
  padding: 30px 70px 60px 0;
}
.text-dark a {
  font-size: 18px;
  line-height: 30px;
}
  footer{padding:2em 0 0}
  section{padding:0 2em 2em}
  #intro .animated_div {
    margin-top: 50px;
    width: 38%;
  }
  nav>ul {
    margin-right: 240px;
}
}

@media (max-width: 991px){
  
  #newsletter #address li i {
    font-size: 20px;
  }
  #newsletter #address li div {
    font-size: 10px;
  }
  .text-dark img {
    width: 210px;
    height: 195px;
}
  .swiper-button-prev {
    left: 83.5% !important;
    margin-top: 65px !important;
}
.Upper_arrow {
  margin-bottom: 20px;
}

.swiper-button-next {
  margin-top: 65px !important;
}
  .features-info {
    margin-top: 10px;
}
  .Our_reach p {
    margin: 0 0 0 30px;
    width: 26%;
}
.Our_reach h1 {
  font-size: 46px;
  line-height: 58px;
  margin: 100px 0 10px 30px;
}
  .Blog_text {
    padding: 30px 5px 60px 0;
}
.Text_para p {
  padding: 10px 0 0 0;
}
  .Client_img{
    width: 210px;
    height: 240px;
}
  .Erp_img {
    width: 270px;
    height: 315px;
}
.circle1 {
  display: none;
}
nav>ul {
  margin-right: 0;
}
.first_home {
  margin: 0 30px;
}
.navbar-nav2{
  display: none !important;
}
nav .dropdown ul {
  box-shadow: none; 
}
.Animation-btn {
  margin: 0 0 30px 0;
}
#intro .animated_div {
  width: 65%;
}
.features {
  padding: 0;
}
}
@media (max-width: 767px){
  .flex-direction-reverse {
    flex-direction: column-reverse;
}
  #newsletter #address li div {
    width: 90%;
  }
  #newsletter {
    padding-bottom: 50px;
  }
  .social-links {
    bottom: 20px;
    position: absolute;
    left: 0;
    margin-left: 100px;
  }
  .footer-logo-div{
    display: flex;
    justify-content: center;
  }
  .text-dark img {
    width: 355px;
    height: 270px;
  }
  .Our_clients h2, .Our_blogs h2 {
    line-height: 50px;
  }
  .Text_para p {
    padding: 10px 0 0 0;
    margin-top: 90px;
  }
  .swiper-button-prev {
    left: 40% !important;
    margin-top: 0 !important;
  }
  .swiper-button-next {
    margin-top: 0 !important;
    right: 31% !important;
  }
  .Animation-btn {
    float: right;
  }
  section {
    padding: 0 1em 1em;
  }
  .Client_img {
    width: 320px;
    height: 310px;
  }
  .Our_reach .container {
    height: 160px;
  }
  .Our_reach h1 {
    font-size: 22px;
    line-height: 22px;
    margin: 70px 0 10px 30px;
  }
  .Our_reach p{
    display: none;
  }
  .Devops_img{
    width: 215px;
  }
  .features-img{
    text-align: center;
  }
  .row.content:first-child {
    margin-top: 0;
  }
  #intro p {
    font-size: 26px;
  }
  #intro .animated_div{
    width: 100%;
  }
  .logo a{
    margin: 0;
  }
}

@media only screen and (max-width: 480px){

}
.mega-col{width:25%;float:left}
#menu-icon{position:absolute;right:0;top:50%;margin-top:-12px;margin-right:30px;display:none}
#menu-icon span{border:2px solid #000;width:30px;margin-bottom:5px;display:block;-webkit-transition:all .2s;transition:all .1s}

@media only screen and (max-width: 1170px) {
  nav >ul>li >a {
    padding: 15px 10px;
}
}

@media only screen and (max-width: 959px) {
  nav{display:none;width:100%;clear:both;float:none;max-height:400px;overflow-y:scroll}
  #menu-icon{display:inline;top:45px;cursor:pointer}
  #menu-icon.active .first{transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:10px}
  #menu-icon.active .second{transform:rotate(135deg);-webkit-transform:rotate(135deg);position:relative;top:-9px;}
  #menu-icon.active .third{display:none}
  .search{float:none}
  .search input{width:100%}
  nav{padding:10px}
  nav ul{float:none}
  nav li{float:none}
  nav ul li a{float:none;padding:8px;display:block}
  #header nav ul ul{display:block;position:static;background:none;border:none;padding:0}
  #header nav ul li li a:before{content:"- "}
  .mega-col{width:100%}
}

