@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
:root {
	--comfortaa: 'Comfortaa', cursive;
  --dark: #1c1c1c;
  --light: #c4c4c4;
  --teal: #008080;
}
a{transition: all .3s ease-in-out;text-decoration: none;}
*{font-family: 'Inter', sans-serif;padding: 0;margin: 0;box-sizing: border-box;}
.hero p{font-size: 3rem;color: var(--light);font-family: var(--comfortaa);font-weight: 700;}
@-moz-document url-prefix() {
.main_div a:after{content:"";background:none !important;}
}
.typed-text{background:linear-gradient(91.18deg,#7649F9 0.21%,#B649F9 26.78%,#F357BE 52.41%,#FB504A 94.09%);box-shadow:8px 7px 40px rgba(0,0,0,0.21);-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-family: var(--comfortaa);}
.cursor{display:inline-block;width:3px;margin-left:4px;background:var(--teal)}
.cursor.blink{animation:blink .8s ease-in-out infinite}
@keyframes blink {
0%,100%{background:var(--teal)}
40%,50%{background:transparent}
}
html{scroll-behavior:smooth}
body{overflow-x:hidden;padding:0;margin:0}
section{display:block;padding:0 4em 5em}
a:hover{cursor:pointer}



/* Navbar css */
.sec-heading{text-align:center;font-size:40px;padding:1.5em 0;margin:0}
#topHeader{padding:1em 4em;font-family:'Roboto',sans-serif;background:#fff;position:fixed!important;top:0!important;margin:0;z-index:999999;width:100%}
#topInfo{padding:0;margin-top:10px;text-align:right;color:#2E2E2E}
#topInfo li{list-style-type:none;display:inline}
#topInfo li:last-child{padding-left:21px}
.logo{color:#24142e;font-size:28px;font-family:'Roboto',sans-serif}
.reveal{position:relative;transform:translateY(150px);opacity:0;transition:1s all ease}
.reveal.active{transform:translateY(0);opacity:1}
.logo img{height:70px}
#header a{color:#2e2e2e;text-transform:capitalize;font-size:20px;font-weight:500;position:relative;text-decoration:none;display:inline-block;transition:all .3s ease-in-out}
#header ul li a:after{background:#24142e;content:"";display:block;height:2px;left:50%;position:absolute;transition:all .3s ease-in-out;width:0}
#header a:hover:after{left:0;width:100%}
#header{background:#fff;width:100%;position:relative;padding:10px 0;}
#header:after{content:"";clear:both;display:block}
.search{float:right;padding:30px}
input{border:none;padding:10px;border-radius:20px}
.logo{float:left;margin:0;}
.logo a{font-size:28px;display:block;margin:0 0 0 40px}
nav>ul{float:left;position:relative;margin-top:10px;margin-bottom:0;padding:0;margin-right: 145px;}
nav li{list-style:none;float:left}
nav .dropdown{position:relative}
nav li a {float: left;padding: 12px 0 10px 0;}
.first_home{margin-left:0;padding-left:0}
.button{position:absolute;right:15px;display:flex;align-items:center;top:10px}
.button:before{content:"";width:30px;height:30px;right:0;transition:all .3s ease;background:#ffffff59;position:absolute;border-radius:50px;line-height:30px}
.button:after{content:"";position:absolute;right:0;background:url(../src/assets/Right_logo.webp) no-repeat center center;width:30px;height:30px;border-radius:50px;transition:all .3s ease;line-height:30px}
.button:hover:after{right:-5px}
nav{display:flex;align-content:flex-start;justify-content:space-around}
nav li a{margin:0 25px}
nav li ul{display:none}
nav li:hover ul{display:inline}
nav li li{float:none}
nav .dropdown ul{position:absolute;left:0;top:100%;background:#fff;padding:20px 0;border-bottom:3px solid #34495e;border-radius: 0 0 10px 10px;z-index:30}
nav .dropdown li{white-space:nowrap}
nav .dropdown li a{color:#1E262D!important;font-size:14px;}
nav .mega-dropdown{width:100%;position:absolute;top:100%;left:0;background:#fff;overflow:hidden;padding:20px 35px;border-bottom:3px solid #34495e}
nav li li a{float:none;color:#333;display:block;padding:8px 10px;border-radius:3px;font-size:13px}
nav li li a:hover{background:#bdc3c7;background:#FAFBFB}
.navbar-nav2{position:absolute;right:100px;top:19px}
.btn-gradient{color:#fff;-webkit-text-fill-color:#fff;background:linear-gradient(to right,#8C4091 0%,42.77108311653137%,#AC3164 85.54216623306274%,92.77108311653137%,#D52236 100%);border-radius:48px;padding:10px 14px 10px 30px !important;width:184px;font-size:16px!important;line-height:32px;letter-spacing:-.0032em;color:#FFF;height:52px}
.btn-gradient::after{content:"";text-align:center;font-size:22px;display:inline-block;border-radius:50px}
.dropdown-submenu>.dropdown-menu {top: 5px;left: 101%;margin-top: -6px;margin-left: -1px;-webkit-border-radius: 0 6px 6px 6px;-moz-border-radius: 0 6px 6px;border-radius: 0 6px 6px 6px;}
.dropdown-toggle-btn::after {content: '';height: 25px;width: 17px;background: url(../src/assets/down.webp) no-repeat 0 0 !important;border: none;bottom: 0;position: absolute;right: 0;}
.dropdown-right-btn::after {content: '';height: 23px;width: 17px;background: url(../src/assets/down.webp) no-repeat 0 0 !important;border: none;top: 30px;position: absolute;right: 20px;transform: rotate(-0.25turn)}



/* Homepage css */
.hero{background-color:#000;background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../src/assets/Main_banner.webp);background-position:center;background-size:cover;color:#fff;padding:1em;text-align:center;height:850px}
.hero{padding-top:5em;position:relative}
.hero .animated_div{display:inline-table;margin-top:130px;width:39%;height: 100%;}
.main_div a{display:block;width:220px;height:70px;z-index:1}
.main_div a:after{content:"";background:linear-gradient(120deg,#6559ae,#ff7159,#6559ae);background-size:400% 400%;-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,4px 66px,4px 100%,100% 100%,100% 0%,0% 0%);-moz-animation:gradient 3s ease-in-out infinite,border 1s forwards ease-in-out reverse;-webkit-animation:gradient 3s ease-in-out infinite,border 1s forwards ease-in-out reverse;animation:gradient 3s ease-in-out infinite,border 1s forwards ease-in-out reverse}
.main_div a > span{display:block;background:linear-gradient(120deg,#6559ae,#ff7159,#6559ae);background-size:400% 400%;-webkit-background-clip:text;-webkit-text-fill-color:transparent;-moz-animation:gradient 3s ease-in-out infinite;-webkit-animation:gradient 3s ease-in-out infinite;animation:gradient 3s ease-in-out infinite}
.absolute-centering,.main_div a,.main_div a:after{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto}
.text-formatting,.main_div a{text-transform:uppercase;text-decoration:none;text-align:center;letter-spacing:2px;line-height:70px;font-family:"Squada One",cursive;font-size:28px;margin-bottom:130px}
@-moz-keyframes gradient {
0%{background-position:14% 0}
50%{background-position:87% 100%}
100%{background-position:14% 0}
}
@-webkit-keyframes gradient {
0%{background-position:14% 0}
50%{background-position:87% 100%}
100%{background-position:14% 0}
}
@keyframes gradient {
0%{background-position:14% 0}
50%{background-position:87% 100%}
100%{background-position:14% 0}
}
@-moz-keyframes border {
0%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,4px 66px,4px 100%,100% 100%,100% 0%,0% 0%)}
25%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,216px 66px,216px 100%,100% 100%,100% 0%,0% 0%)}
50%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 4px,216px 4px,216px 4px,216px 4px,100% 0%,0% 0%)}
75%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 0%,0% 0%)}
100%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,0% 100%)}
}
@-webkit-keyframes border {
0%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,4px 66px,4px 100%,100% 100%,100% 0%,0% 0%)}
25%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,216px 66px,216px 100%,100% 100%,100% 0%,0% 0%)}
50%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 4px,216px 4px,216px 4px,216px 4px,100% 0%,0% 0%)}
75%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 0%,0% 0%)}
100%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,0% 100%)}
}
@keyframes border {
0%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,4px 66px,4px 100%,100% 100%,100% 0%,0% 0%)}
25%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 66px,216px 66px,216px 100%,100% 100%,100% 0%,0% 0%)}
50%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,216px 4px,216px 4px,216px 4px,216px 4px,216px 4px,100% 0%,0% 0%)}
75%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 4px,4px 0%,0% 0%)}
100%{-webkit-clip-path:polygon(0% 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,4px 100%,0% 100%)}
}
.features p{font-weight: 400;font-size: 22px;line-height: 41px;letter-spacing: -0.4px;color: #636981;}
.features h2{font-weight: 600;font-size: 50px;line-height: 72px;letter-spacing: -2px;color: #0F192A;}
.Animation-btn {display: inline-flex;width: 190px;height: 56px;font-weight: 500;font-size: 20px;line-height: 33px;margin: 36px 0 0;color: #0B182B;transition: all .3s;position: relative;overflow: hidden;z-index: 1;padding: 13px 13px 13px 30px;letter-spacing: -.32px;background: #FFFFFF;box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.06);border-radius: 28px;}
.features a{text-decoration: none;}
.row.content:first-child{ margin-top: 100px;}
.circle1 {position: absolute;height: 210rem;background: #377dff47;filter: blur(400px);border-radius: 6px;transform: rotate(90.37deg);z-index: -9;right: 0;top: 0px;}
.features a:hover{color: #0B182B;}
.features{padding: 0 0 50px 0;}
.features .button:after {background:url(../src/assets/Blue_arrow.webp) no-repeat center center;background-size: 33%;}
.features .button {top: 13px;}
.features-info {margin-top: 120px;}
.Erp_img{width: 496px;height: 600px;}
.Our_reach .container{background:url(../src/assets/Our_reach.webp) no-repeat center center;background-size: auto;height: 380px;background-size: 100%;padding: 0;}
.Our_reach h1{font-weight: 800;font-size: 48px;line-height: 64px;font-feature-settings: 'liga' off;background: linear-gradient(103.18deg, #5552FF 4.57%, #00C1EB 54.07%, #00E3AD 105.85%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;margin: 80px 0 40px 80px;}
.Our_reach p{font-weight: 400;font-size: 18px;line-height: 32px;font-feature-settings: 'liga' off;color: #F2F2F2;margin: 0 0 0 80px;width: 17%;}
.Purple_span{background: linear-gradient(to right,#8C4091 0%,42.77108311653137%,#AC3164 85.54216623306274%,92.77108311653137%,#D52236 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;}
.Our_clients h2 ,.Our_blogs h2{font-weight: 700;font-size: 48px;line-height: 58px;text-align: center;letter-spacing: -1px;color: #0B1D39;margin-bottom: 50px;}
.Upper_arrow{width: 84px;height: 70px;}
.Client_img{float: right;height: 300px;width: 300px;}
.Text_para p{font-weight: 400;font-size: 22px;line-height: 36px;letter-spacing: -0.2px;color: #0B1D39;padding: 0 140px 30px 90px;}
.Text_para h3{font-weight: 600;font-size: 26px;line-height: 24px;letter-spacing: -0.1px;color: #0B1D39;padding: 0 90px 0 90px;}
.swiper-button-prev{left: 90.5% !important;border-radius: 50%;background: #fff;width: 46px !important;height: 46px !important;border: 1px solid gray;margin-top: 95px !important;}
.swiper-button-next{border-radius: 50%;background: #fff;width: 46px !important;height: 46px !important;border: 1px solid gray;margin-top: 95px !important;}
.swiper-button-prev:after, .swiper-button-next:after {content: 'prev';font-size: 18px !important;font-weight: 700;color: black;}
.text-dark img{width: 370px;height: 248px;}
.text-dark a{font-weight: 500;font-size: 22px;line-height: 34px;font-feature-settings: 'ss03' on;color: #0B1D39;text-decoration: none;text-transform: capitalize;}
.Blog_text {padding: 30px 0 60px 0;}
.Our_blogs{margin-top: 100px;}



/* Footer css */
.social-links.social-1.col-6{padding:0}
footer{background-color:#1C1C1C;padding:3em 4em 2em}
footer .logo{color:#fff}
footer .row{margin:2em 0;font-family:'Roboto',sans-serif;color:#fff;position:relative;border-bottom:1px solid}
footer .footer-cat{font-size:20px}
footer ul{padding:0}
footer ul li{list-style-type:none;padding:0;line-height:2}
.footer-cat-links a{color:#fff;text-decoration:none;position:relative}
.social-links{bottom:44px;position:absolute;left:0}
.social-links a:not(:last-child){margin-right:10px}
.social-links a i{width:25px;height:25px;text-align:center}
#copyright{text-align:center;color:#fff;font-family:'Roboto',sans-serif}
.social-links a{color:#fff;font-size:20px;border:1px solid;border-radius:20px;padding:6px;transition:all .3s ease-in-out}
.footer-cat-links a:after{background:#fff;content:"";display:block;height:2px;left:50%;position:absolute;top:21px;transition:all .3s ease-in-out;width:0}
.footer-cat-links a:hover:after,.footer-cat-links a:focus:after{width:100%;left:0}
a#gotop{color:#fff;text-decoration:none;z-index:9999;display:none;font-family:'Roboto',sans-serif;position:fixed;bottom:1.5em;right:1.5em;padding:10px;background: linear-gradient(to right,#8C4091 0%,42.77108311653137%,#AC3164 85.54216623306274%);;border-radius:5px;box-shadow:0 5px 7px 0 #000}
.col-3#newsletter{width:24%}
footer #subscribe{margin:20px 0 30px}
.social-links{bottom:44px;position:absolute;left:0}
input#subscriber-email{outline:none;padding:8px;background:#ff6962;border:1px solid #fff;color:#fff;border-radius:4px 0 0 4px}
.col-3#newsletter #btn-scribe{margin-left:-4px;border:1px solid #fff;border-radius:0 4px 4px 0;padding:8px 5px;background-color:#fff;color:#ff6962;cursor:pointer}
footer ul li{list-style-type:none;padding:0;line-height:2;margin-bottom: 12px;}
footer ul {padding: 0;margin-top: 10px;}
#newsletter #address li i{font-size:45px;width:auto;padding:5px}
#newsletter #address li div{font-size:14px;width:80%;text-align:left;float:right;line-height:1.3}
#address ul li{margin: 35px 0px;}
footer .footer-cat{font-weight: 500;font-size: 18px;line-height: 16px;letter-spacing: 1px;text-transform: uppercase;color: #697A94;margin-bottom: 20px;}
.social-links a:hover{background: linear-gradient(to right,#8C4091 0%,42.77108311653137%,#AC3164 85.54216623306274%);}



/* ERPNext page css */
.ERP_section1 .row{margin:0}
.ERP_section1{background:linear-gradient(107.06deg,#8236CF 13.8%,#7B46E0 53.38%,#6865F7 91.31%);height:auto;background-size:100%;padding:0}
.specific-module{width:388px;height:166px;background:#F7F7F7;margin-top:40px;box-shadow:0 0 10px #000;border-radius:10px;padding:25px;text-align:center}
.ERP_section1 h1{font-weight:700;font-size:64px;line-height:76px;color:#FFF;margin:180px 0 0}
.ERP_main_img{width:700px;height:500px;margin:180px 0 0 160px;border-radius:14px;box-shadow:0 0 10px #000}
.ERP_section1 p{font-weight:400;font-size:20px;line-height:26px;color:#FFF;padding:25px 0 0}
.left-erp{padding-left:180px}
.erp-heading-row p{font-weight:400;font-size:24px;line-height:40px;text-align:center;letter-spacing:-.1px;color:#636981;padding:0 250px}
.specific-module h4{font-weight:600;font-size:20px;line-height:26px;letter-spacing:-.1px;color:#080E21}
.specific-module p{font-weight:400;font-size:16px;line-height:22px;letter-spacing:-.1px;color:#636981;padding:0 5px}
.specific-img{height:52px;width:69px;margin-top:-10px}
.erp_nextbtn{background:#000;border-radius:49px;margin:25px 0;display:inline-flex;line-height:55px;color:#FFF;width:auto;padding:0 46px;text-decoration:none;height:auto}
.lets-erp{background:#FFF;box-shadow:8px 7px 40px rgba(0,0,0,0.21);border-radius:10px;margin:120px 0 110px;display:inline-flex;color:#000;width:auto;padding:0 46px;text-decoration:none;height:auto;font-weight:600;font-size:24px;line-height:64px;letter-spacing:-.4px}
.ERP_section2 h2,.ERP_section3 h2,.ERP_section4 h2{font-weight:600;font-size:52px;line-height:64px;text-align:center;letter-spacing:-.904615px;color:#080E21;padding:0 200px}
.best-box{text-align:center}
.best-box-row{padding-top:50px}
.ERP_section4{padding:0}
.ERP_section5 h2{padding:0 270px}
.best-box h4{font-weight:500;font-size:26px;line-height:40px;color:#000;padding:20px 10px}
.ERP_section2{padding:50px 0}
ul.module-list{display:flex;flex-wrap:wrap;padding:40px 0 0}
ul.module-list li{list-style:none;flex:25%;padding:0 0 40px;counter-increment:css-counter 1}
ul.module-list li:before{content:"0" counter(css-counter);background:#FFC54C;width:124px;height:75px;display:inline-block;position:absolute;text-align:center;line-height:75px;border-radius:40px 0;margin:0 0 0 -5px;font-size:32px;font-weight:600;color:#fff;box-shadow:0 4px 4px #000}
.modules .module-box{width:240px;height:250px;border:2px solid #FFC54C;margin:20px;display:flex;align-items:center;justify-content:center}
.modules .module-box .module-box-inner{width:347px;height:349px;text-align:center;background:url(../src/assets/tilted-bg.webp) no-repeat center;position:absolute;margin:40px 0 0 30px;padding:0 20px 0 0;display:flex;justify-content:center;align-items:center;flex-wrap:wrap;flex-direction:column}
.modules .module-box .module-box-inner img{height:55px}
.modules .module-box .module-box-inner p{color:#636981;font-size:16px;line-height:28px;font-weight:500}
.modules .module-box .module-box-inner h3{font-weight:700;font-size:22px;line-height:34px;text-align:center;letter-spacing:-.1px;color:#000}
ul.module-list li:nth-child(2)::before{background:#EF715F}
ul.module-list li:nth-child(2) .module-box{border:2px solid #EF715F}
ul.module-list li:nth-child(3)::before{background:#629879}
ul.module-list li:nth-child(3) .module-box{border:2px solid #629879}
ul.module-list li:nth-child(4)::before{background:#0D89FB}
ul.module-list li:nth-child(4) .module-box{border:2px solid #0D89FB}
ul.module-list li:nth-child(5)::before{background:#6E7BD2}
ul.module-list li:nth-child(5) .module-box{border:2px solid #6E7BD2}
ul.module-list li:nth-child(6)::before{background:#41DA6C}
ul.module-list li:nth-child(6) .module-box{border:2px solid #41DA6C}
ul.module-list li:nth-child(7)::before{background:#D838DB}
ul.module-list li:nth-child(7) .module-box{border:2px solid #D838DB}
ul.module-list li:nth-child(8)::before{background:#EE6F27}
ul.module-list li:nth-child(8) .module-box{border:2px solid #EE6F27}
.best-box-img{width:12%}
.best-box-img1{margin-top:15px}
.best-box-img4{margin-top:-20px}
.left-erp img{width: 178px;height: 42px;}


/* ERPNext Healthcare */
*{box-sizing:border-box}
#video-container{top:3px;left:0;right:0;bottom:0;width:100%;height:100%;z-index:-9;overflow:hidden;position:relative}
video{width:100%;height:100%}
.touch video{display:none}
.overlay{position:absolute;top:90px;left:0;width:100%;height:auto;z-index:20;padding-left:6%;padding-right:6%;display:table}
.Healthcare-section1{padding:0;background:linear-gradient(0deg,rgba(17,51,117,0.5),rgba(17,51,117,0.5))}
.overlay__inner{width:100%;height:auto;display:flex;vertical-align:middle;text-align:left}
.overlay h1{font-weight:700;font-size:60px;line-height:74px;color:#FFF}
.overlay p{font-weight:400;font-size:22px;line-height:32px;color:#FFF;padding:30px 200px 0 0}
.healthcare-img{margin-top:110px}
.healthcare-para{position:absolute;margin:240px 0 0 110px;width:600px}
.Pink_span{background:#ff8c98f0;-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-clip:text;text-fill-color:transparent}
.Healthcare_line{width:315px;height:7px}
.Healthcare_line2{height:42px;width:178px;margin-left:90px}
.stream-line{position:absolute;top:0;z-index:20;width:382px;background:#FFF;box-shadow:-4px 4px 32px #000;border-radius:8px;padding:39px 34px 24px;height:auto;margin:200px 0 0 240px}
.stream-line h2{font-weight:700;font-size:24px;line-height:36px;text-align:center;letter-spacing:-.0604403px;color:#080E21;padding:0 0 36px}
.Sign-up-free-btn{height:55px;line-height:55px;font-weight:600;font-size:16px;color:#FFF;background:linear-gradient(to right,#8C4091 0%,42.77108311653137%,#AC3164 85.54216623306274%,92.77108311653137%,#D52236 100%);padding:0 46px;border-radius:30px;display:flex;justify-content:center;margin:auto;width:190px;text-decoration:none}
.Sign-up{padding:0;margin-top:15px}
.stream-line input{width:314px;height:40px;background:#FFF;border:1.5px solid rgba(207,210,220);border-radius:7px;padding:8px 0 8px 16px;margin-bottom:25px}
.Healthcare_Circle{width:558px;height:558px}
section.Healthcare-section5{padding-top:50px}
section.Healthcare-section5 h2{padding-bottom:50px}
.Healthcare-section2 h2,.Healthcare-section3 h2,.Healthcare-section5 h2{font-weight:700;font-size:40px;line-height:62px;letter-spacing:-.0604403px;text-align:center;color:#080E21}
.Healthcare-section2{padding:50px 0}
.Healthcare-section2 h5{font-weight:600;font-size:24px;line-height:36px;letter-spacing:-.4px;color:#080E21;margin-bottom:20px}
.leader-box-main-img2{width:38px!important}
.Healthcare-section2 p{font-weight:400;font-size:16px;line-height:28px;letter-spacing:-.0604403px;color:#636981;padding:0 30px}
.Healthcare-section3{background:linear-gradient(125.36deg,#F1FFFD 16.24%,#E9F3FF 75.51%);padding:35px}
.Healthcare-section3 p,.Lms-section2 p{font-weight:400;font-size:20px;line-height:36px;color:#636981;padding:30px 0 0}
.ERPNext_row{margin-top:50px!important}
.leader-box-main-img{width:50px;height:50px;margin-bottom:20px}
.Healthcare-section4 h2{font-weight:700;font-size:42px;line-height:58px;letter-spacing:-1px;color:#000}
.Healthcare-section4 p{font-weight:400;font-size:20px;line-height:36px;color:#636981;padding:10px 100px 0 0}
.Hospital-img{height:380px;width:550px;border-radius:10px}
section.Healthcare-section4{padding-top:50px;background:linear-gradient(137.66deg,#FAF1FF -3.73%,#FFF9EF 98.79%)}
section.Healthcare-section4.green-bg{background:linear-gradient(125.36deg,#F1FFFD 16.24%,#E9F3FF 75.51%)}
.Hospital-text{padding-top:30px}
.row-reverse-direction{flex-direction:row-reverse}
button.accordion{width:100%;background:#fff;border-radius:4px;border:none;outline:none;text-align:left;padding:20px 15px 15px 64px;cursor:pointer;transition:background-color .2s linear;font-weight:600;font-size:22px;line-height:30px;letter-spacing:.005em;color:#000;border-bottom-style:solid;border:1px solid;border-color:rgba(217,217,217,1);border-bottom:none}
button.accordion:after{content:"";height:40px;width:40px;background:url(../src/assets/plus.webp) no-repeat center;float:right;background-size: 70%;}
button.accordion.is-open:after{background:url(../src/assets/minus.webp) no-repeat center;}
.accordion-content{background:#fff;border-radius:0 0 4px 4px;border-left:1px solid ;border-bottom:1px solid ;border-right:1px solid;border-color: rgba(217,217,217,1);max-height:0;overflow:hidden;transition:max-height .2s ease-in-out;margin-bottom:10px}
.download-bro-section7 h5{text-align:center;margin-bottom:77px}
.accordion-content p{margin:0;padding:0 15px 15px 64px;font-weight:400;font-size:16px;line-height:26px;letter-spacing:.005em;color:#636981}
.Faq-accordion{padding-right:100px}
button.accordion.is-open{border-radius: 4px 4px 0 0;}


/* LMS Page  */
.Blue_span{color: #e0737f;}
.btn-gradient2{color: #000;background:#fff;margin: 0;}
.LMS_people{width: 671px;height:578px;position: absolute;right: 0;margin-top:250px;top: 0;}
.Join-us{color: #fff;background: #000;}
.LMS-para {margin: 150px 0 0 110px;}
.Lms-section2{background:#FEF9E8 url(../src/assets/Lms-section2.webp) no-repeat;background-size: 100%;padding-bottom: 35px;}
.Lms-section2 h2{font-weight: 700;font-size: 42px;line-height: 52px;letter-spacing: -0.03em;font-feature-settings: 'ss01' on;color: #000000;text-align: center;margin: 170px 0 50px 0;}
.Lms-section3 h2,.Lms-section4 h2{font-weight: 700;font-size: 42px;line-height: 52px;letter-spacing: -0.03em;font-feature-settings: 'ss01' on;color: #000000;text-align: center;margin: 50px 0 50px 0;}
.module-box img{width: 70px;height: 70px;}
.module-box{text-align: center;}
.Lms-section3 {padding-bottom:0;background: #F3F4FB;}
.module-box h5,.feature-box h5{font-weight: 600;font-size: 24px;line-height: 32px;letter-spacing: -1px;font-feature-settings: 'ss01' on;color: #121E1C;padding: 15px 0 30px 0;}
.feature-box {height: auto;padding:46px 20px 20px 20px;background: #FFF;box-shadow: -0.226px 4px 10px #1a0000;margin: 0 0 50px;border-radius: 10px;text-align: center;}
.feature-box h5{padding: 15px 0 15px 0;}
.feature-box p{font-weight: 400;font-size: 20px;line-height: 30px;letter-spacing: -0.24px;color: #4F5E77;}
.Lms-section4{background: #FEF9E8; padding-bottom: 35px;}
.feature-box img{width: 86px;height: 86px;}

/* ALL RESPONSIVE CSS STARTS */
@media screen and (max-width: 1536px){
  .hero {height: 700px;}
   nav li a{margin:0 26px}
  .ERP_section1 p{font-size:18px;line-height:24px}
  .hero .animated_div{width:45%;margin-top: 50px;}
  #header a{font-size:18px}
  .ERP_main_img{width:600px;height:430px;margin:110px 0 0 90px}
  .ERP_section1 h1{font-size:54px;line-height:66px;margin:85px 0 0}
  .ERP_section1{height:auto}
  .left-erp{padding-left:130px}
  .overlay {height: 857px;}
  .Healthcare_Circle {width: 535px;height: 535px;}
  .overlay p {font-size: 20px;line-height: 30px;}
  .overlay h1 {font-size: 52px;line-height: 58px;}
  .Healthcare_line {width: 275px;}
  .LMS_people {width: 620px;height: 488px;margin-top: 150px;}
  .LMS-para{margin: 100px 0 0 110px;}
}

@media only screen and (max-width: 1366px){
  .Lms-section2 h2 {font-size: 36px;line-height: 34px;margin: 140px 0 40px 0;}
  .Lms-section3 h2, .Lms-section4 h2{font-size: 36px;line-height: 34px;}
  .module-box h5, .feature-box h5 {font-weight: 600;font-size: 20px;line-height: 28px;}
  .feature-box p {font-size: 18px;line-height: 28px;}
  .Lms-section2 p {font-weight: 400;font-size: 18px;line-height: 28px;color: #636981;padding:0;}
  .LMS-para{margin: 100px 0 0 110px !important;}
  .LMS_people {width: 500px;height: 380px;}
  .Healthcare_line2{margin-left:5px}
  .stream-line{margin:160px 0 0 128px;width:330px;height:auto}
  .stream-line input{width:auto}
  .stream-line .col-md-12{padding-left:6px}
  .stream-line h2{font-size:20px;line-height:30px;padding:0 0 20px}
  .overlay h1{font-size:38px;padding:0 180px 0 0;line-height:48px;margin:0}
  .Healthcare_line{width:205px}
  .overlay p{font-size:16px;line-height:26px;padding:10px 280px 0 0}
  .healthcare-para{margin:200px 0 0 122px}
  .Healthcare_Circle{width:430px;height:430px}
  .Healthcare-section2 p{font-size:14px;line-height:22px}
  .Healthcare-section2 h5{font-size:22px;margin-bottom:10px}
  .leader-box-main-img{width:40px;height:42px;margin-bottom:10px}
  .Sign-up-free-btn{height:45px;line-height:45px;font-size:14px;padding:0 25px;width:145px}
  .Healthcare-section3 p,.Healthcare-section4 p{font-size:16px;line-height:24px}
  .Hospital-img{height:290px;width:460px}
  button.accordion{height:54px;line-height:15px;font-size:16px;width:60%;padding:20px 15px 15px 40px}
  .accordion-content{width:60%;margin:0 auto 10px}
  section.Healthcare-section5 h2{padding-bottom:20px}
  .accordion-content p{text-align:left;padding:20px 15px 15px 40px;font-size:14px;line-height:24px}
  button.accordion:after,button.accordion.is-open:after{height:15px;background-size:50%}
  .Faq-accordion{padding-right:0;text-align:center}
  .ERP_section2{padding:50px 0 50px 80px}
  .ERP_section2 h2,.ERP_section3 h2,.ERP_section4 h2,.Healthcare-section2 h2, .Healthcare-section3 h2, .Healthcare-section5 h2,.Healthcare-section4 h2{font-weight:600;font-size:38px;line-height:56px}
  .lets-erp{margin:40px 0 50px}
  .modules .module-box{margin:0}
  ul.module-list li:before{width:112px}
  .modules .module-box .module-box-inner h3{font-size:18px}
  .erp-heading-row p{font-size:18px;line-height:30px}
  .best-box h4{font-size:20px;line-height:30px}
  .specific-module{width:340px}
  .modules .module-box .module-box-inner{background-size:80%}
  .lets-erp{margin:165px 0 90px}
  .ERP_main_img{width:440px;height:320px}
  .ERP_section1 h1{font-size:48px;line-height:64px}
  .Our_clients h2,.Our_blogs h2{font-weight:600;font-size:38px;line-height:44px}
  .Text_para p{font-size:18px;line-height:32px}
  .Erp_img{width:400px;height:535px}
  .features p{font-size:18px;line-height:32px}
  .features h2{font-size:38px}
  .hero{height:600px}
  .hero p{font-size:2rem}
  nav li a{margin:0 20px}
  #newsletter #address li i{font-size:38px}
  #newsletter #address li div{font-size:12px}
  footer .footer-cat{font-size:14px}
  .footer-cat-links{font-size:12px}
  #copyright{font-size:12px}
  footer .row{margin:1em 0}
  .social-links a{font-size:16px}
  .social-links a i{width:20px}
  .social-links{left:25px}
  .text-dark img{width:250px;height:200px}
  .Blog_text{padding:30px 72px 60px 0}
  .text-dark a{font-size:18px;line-height:30px}
  footer{padding:2em 0 0}
  section{padding:0 2em 2em}
  .hero .animated_div{margin-top:50px;width:38%}
  nav>ul{margin-right:240px}
  .overlay{height: 715px;}
}

@media (max-width: 991px){
  .stream-line,.overlay{position:relative}
  .Healthcare-section1 .row{flex-direction:column;width:100%}
  .Healthcare-section3 p,.Healthcare-section4 p{font-size:16px;line-height:24px;padding:0}
  .Healthcare-section2 h2,.Healthcare-section3 h2,.Healthcare-section5 h2,.Healthcare-section4 h2{font-weight:600;font-size:36px;line-height:48px}
  button.accordion{width:80%}
  .accordion-content{width:80%}
  .Hospital-img{height:230px;width:315px;float:left;margin-top:80px}
  .healthcare-img{margin-top:0}
  .Healthcare_line2{margin-left:50px}
  .stream-line{margin:auto;display:none}
  .overlay{margin-top:-56px}
  .healthcare-para{margin:90px 0 0 264px;width:auto}
  .Lms-section1{background:url(../src/assets/Lms-mobile-bg.webp) no-repeat !important;background-size:100% 100% !important;height:510px !important}
  .Healthcare-section1{background:url(../src/assets/Hospiatl_bg.webp) no-repeat;background-size:100% 100%;height:510px}
  .Healthcare-section1 .col-md-6{width:100%}
  .overlay__inner{justify-content:center}
  #video-container{display:none}
  .ERP_section1 h1{font-size:44px;line-height:58px}
  .ERP_section2 h2{padding:0 80px 0 0;font-weight:600;font-size:38px;line-height:52px}
  .ERP_section3 h2,.ERP_section4 h2,.ERP_section5 h2{padding:0}
  .ERP_section5{margin-top:0}
  .erp-heading-row p{padding:0}
  .best-box-img{width:23%}
  .dropdown-toggle-btn::after,.dropdown-right-btn::after{background:none!important}
  #header nav ul ul{margin-left:20px}
  .specific-module{width:210px;height:275px;padding:15px}
  .lets-erp{margin:40px 0 61px}
  .ERP_main_img{width:330px;height:260px;margin:90px 0 0 30px}
  .left-erp{padding-left:20px}
  #newsletter #address li i{font-size:20px}
  #newsletter #address li div{font-size:10px}
  .text-dark img{width:210px;height:195px}
  .swiper-button-prev{left:83.5%!important;margin-top:65px!important}
  .Upper_arrow{margin-bottom:20px}
  .swiper-button-next{margin-top:65px!important}
  .features-info{margin-top:10px}
  .Our_reach p{margin:0 0 0 30px;width:26%}
  .Our_reach h1{font-size:46px;line-height:58px;margin:100px 0 10px 30px}
  .Blog_text{padding:30px 5px 60px 0}
  .Text_para p{padding:10px 0 0}
  .Client_img{width:210px;height:240px}
  .Erp_img{width:270px;height:315px}
  .circle1{display:none}
  nav>ul{margin-right:0}
  .first_home{margin:0 30px}
  .navbar-nav2{display:none!important}
  nav .dropdown ul{box-shadow:none}
  .Animation-btn{margin:0 0 30px}
  .hero .animated_div{width:65%}
  .features{padding:0}
}
@media (max-width: 767px){
.Lms-section2 h2 {font-size: 35px;line-height: 34px;margin: 80px 0 40px 0;}
.healthcare-para.LMS-para {margin: 0 !important;}
.Healthcare-section3 {background: linear-gradient(125.36deg, #F1FFFD 16.24%, #E9F3FF 75.51%);padding: 20px;}
 button.accordion,.accordion-content{width:100%;line-height: 20px;padding: 0 0 0 10px;}
.Healthcare-section1{height: 380px !important;}
.Healthcare_line2{margin: 0;}
.overlay p,.overlay h1{padding: 0;}
.overlay {height: auto;}
.Healthcare-section1 .row {width: 98%;padding-left: 20px;}
.healthcare-para {margin:0;width: auto;}
.healthcare-img{display: none;}
.Healthcare_Circle {width: 330px;height: 320px;}
.left-erp img{text-align: center;justify-content: center;display: flex;width: auto;margin: auto;}
.left-erp {padding-left: 0;}
.erp_nextbtn {justify-content: center;margin: auto;display: flex;width: 210px;}
.best-box-img{width:13%}
.ERP_section2 h2,.ERP_section3 h2,.ERP_section4 h2,.ERP_section5 h2{font-weight:600;font-size:28px;line-height:38px}
.specific-module{width:100%;height:auto;padding:15px}
.ERP_section2 h2{padding:0 60px 0 0}
.ERP_section2{padding:50px 0 50px 60px}
.text-dark img{width:320px;height:270px}
.ERP_main_img{margin:40px 0 0 0;width: 350px;height: 260px;}
.Text_para h3{padding:0 65px;text-align:center}
.flex-direction-reverse{flex-direction:column-reverse}
#newsletter #address li div{width:90%}
#newsletter{padding-bottom:50px}
.social-links{bottom:20px;position:absolute;left:0;margin-left:100px}
.footer-logo-div{display:flex;justify-content:center}
.Our_clients h2,.Our_blogs h2{line-height:50px}
.Text_para p{padding:10px 0 0;margin-top:90px}
.swiper-button-prev{left:40%!important;margin-top:0!important}
.swiper-button-next{margin-top:0!important;right:31%!important}
.Animation-btn{float:right}
section{padding:0 1em 1em}
.Client_img{width:320px;height:310px}
.Our_reach .container{height:160px}
.Our_reach h1{font-size:22px;line-height:22px;margin:70px 0 10px 30px}
.Our_reach p{display:none}
.Devops_img{width:215px}
.features-img{text-align:center}
.row.content:first-child{margin-top:0}
.hero p{font-size:26px}
.hero .animated_div{width:100%}
.logo a{margin:0}
}
@media only screen and (max-width: 480px){
}
.mega-col{width:25%;float:left}
#menu-icon{position:absolute;right:0;top:50%;margin-top:-12px;margin-right:30px;display:none}
#menu-icon span{border:2px solid #000;width:30px;margin-bottom:5px;display:block;-webkit-transition:all .2s;transition:all .1s}
@media only screen and (max-width: 1170px) {
nav >ul>li >a {padding: 15px 10px;
}
}

@media only screen and (max-width: 959px) {
  nav{display:none;width:100%;clear:both;float:none;max-height:400px;overflow-y:scroll}
  #menu-icon{display:inline;top:45px;cursor:pointer}
  #menu-icon.active .first{transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:10px}
  #menu-icon.active .second{transform:rotate(135deg);-webkit-transform:rotate(135deg);position:relative;top:-9px;}
  #menu-icon.active .third{display:none}
  .search{float:none}
  .search input{width:100%}
  nav{padding:10px}
  nav ul{float:none}
  nav li{float:none}
  nav ul li a{float:none;padding:8px;display:block}
  #header nav ul ul{display:block;position:static;background:none;border:none;padding:0}
  #header nav ul li li a:before{content:"- "}
  .mega-col{width:100%}
}

